<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.q_run2">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Homepage_Admin"></activity>
        <activity android:name=".purchases" />
        <activity android:name=".Notification" />
        <activity android:name=".sidemenu_header" />
        <activity android:name=".profile" />
        <activity android:name=".stopwatch" />
        <activity android:name=".category" />
        <activity android:name=".She_Run" />
        <activity android:name=".GreatMalaysiaRun_detail" />
        <activity android:name=".EcoTrail_detail" />
        <activity android:name=".MalaysiaDay_Detail_Half" />
        <activity android:name=".Homepage_Runner" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".Log_In" />
        <activity android:name=".Sign_Up" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".insertrunnername">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".camera">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>